In [53]:
import pandas as pd;

## Zutatenlisten der beiden Rezepte für 24 Personen

In [74]:
fleisch_zutaten_dict = {
    "Nudeln" : {
        "menge_in_kg" : 3,
        "preis_pro_kg" : 2
            },
    "Hackfleisch" : {
        "menge_in_kg" : 3,
        "preis_pro_kg" : 6
    },
    "Tomaten" : {
        "menge_in_kg" : 0.8,
        "preis_pro_kg" : 3
    },
    "Zwiebeln" : {
        "menge_in_kg" : 0.4,
        "preis_pro_kg" : 0.7
    },
    "Knoblauch" : {
        "menge_in_kg" : 0.03,
        "preis_pro_kg" : 4
    },
    "Olivenöl" : {
        "menge_in_kg" : 0.3,
        "preis_pro_kg" : 5
    },
    "Oregano" : {
        "menge_in_kg" : 0.01,
        "preis_pro_kg" : 10
    },
    "Salz" : {
        "menge_in_kg" : 0.02,
        "preis_pro_kg" : 3
    },
    "Pfeffer" : {
        "menge_in_kg" : 0.01,
        "preis_pro_kg" : 12
    },
    "Tomatenmark" : {
        "menge_in_kg" : 1.2,
        "preis_pro_kg" : 5
    },
    "Parmesan" : {
        "menge_in_kg" : 0.6,
        "preis_pro_kg" : 15
    }
}

vegan_zutaten_dict = { 
    "Nudeln" : {
        "menge_in_kg" : 3.6,
        "preis_pro_kg" : 2
            },
    "Tomaten" : {
        "menge_in_kg" : 1.2,
        "preis_pro_kg" : 3
    },
    "Zwiebeln" : {
        "menge_in_kg" : 0.7,
        "preis_pro_kg" : 0.7
    },
    "Knoblauch" : {
        "menge_in_kg" : 0.03,
        "preis_pro_kg" : 4
    },
    "Olivenöl" : {
        "menge_in_kg" : 0.3,
        "preis_pro_kg" : 5
    },
    "Oregano" : {
        "menge_in_kg" : 0.01,
        "preis_pro_kg" : 10
    },
    "Salz" : {
        "menge_in_kg" : 0.02,
        "preis_pro_kg" : 3
    },
    "Pfeffer" : {
        "menge_in_kg" : 0.01,
        "preis_pro_kg" : 12
    },
    "Tomatenmark" : {
        "menge_in_kg" : 1.2,
        "preis_pro_kg" : 5
    }
}

## Überführen der Dictionaries in DataFrams

In [75]:
df_fleisch_zutaten = pd.DataFrame.from_dict(fleisch_zutaten_dict).T
df_vegan_zutaten = pd.DataFrame.from_dict(vegan_zutaten_dict).T

In [76]:
df_fleisch_zutaten

             menge_in_kg  preis_pro_kg
Nudeln              3.00           2.0
Hackfleisch         3.00           6.0
Tomaten             0.80           3.0
Zwiebeln            0.40           0.7
Knoblauch           0.03           4.0
Olivenöl            0.30           5.0
Oregano             0.01          10.0
Salz                0.02           3.0
Pfeffer             0.01          12.0
Tomatenmark         1.20           5.0
Parmesan            0.60          15.0

In [77]:
df_vegan_zutaten

             menge_in_kg  preis_pro_kg
Nudeln              3.60           2.0
Tomaten             1.20           3.0
Zwiebeln            0.70           0.7
Knoblauch           0.03           4.0
Olivenöl            0.30           5.0
Oregano             0.01          10.0
Salz                0.02           3.0
Pfeffer             0.01          12.0
Tomatenmark         1.20           5.0

## Gesamtpreis der Mahlzeit

In [78]:
df_fleisch_zutaten["gesamtpreis"] = df_fleisch_zutaten["menge_in_kg"] * df_fleisch_zutaten["preis_pro_kg"]
df_fleisch_zutaten

             menge_in_kg  preis_pro_kg  gesamtpreis
Nudeln              3.00           2.0         6.00
Hackfleisch         3.00           6.0        18.00
Tomaten             0.80           3.0         2.40
Zwiebeln            0.40           0.7         0.28
Knoblauch           0.03           4.0         0.12
Olivenöl            0.30           5.0         1.50
Oregano             0.01          10.0         0.10
Salz                0.02           3.0         0.06
Pfeffer             0.01          12.0         0.12
Tomatenmark         1.20           5.0         6.00
Parmesan            0.60          15.0         9.00

In [79]:
df_vegan_zutaten["gesamtpreis"] = df_vegan_zutaten["menge_in_kg"] * df_vegan_zutaten["preis_pro_kg"]
df_vegan_zutaten

             menge_in_kg  preis_pro_kg  gesamtpreis
Nudeln              3.60           2.0         7.20
Tomaten             1.20           3.0         3.60
Zwiebeln            0.70           0.7         0.49
Knoblauch           0.03           4.0         0.12
Olivenöl            0.30           5.0         1.50
Oregano             0.01          10.0         0.10
Salz                0.02           3.0         0.06
Pfeffer             0.01          12.0         0.12
Tomatenmark         1.20           5.0         6.00

In [85]:
gesamtpreis_fleisch = df_fleisch_zutaten.sum(axis = 0)["gesamtpreis"].round(2)
gesamtpreis_vegan = df_vegan_zutaten.sum(axis = 0)["gesamtpreis"].round(2)
print("gesamtpreis_fleisch = " + str(df_fleisch_zutaten.sum(axis = 0)["gesamtpreis"].round(2)) + " €"  )
print("gesamtpreis_vegan = " + str(df_vegan_zutaten.sum(axis = 0)["gesamtpreis"].round(2)) + " €" )

gesamtpreis_fleisch = 43.58 €
gesamtpreis_vegan = 19.19 €

## Übersicht für die Teilnehmer

Berechnung des Preises pro Person unter der Annahme, dass das Rezept für je 24 Personen gedacht ist.
Berechnung des Anteils am Lagerpreis unter der Annahme, dass der Lagerbeitrag 25.5 € beträgt.

In [100]:
preis_pro_person_fleisch = (gesamtpreis_fleisch/24).round(2)
preis_pro_person_vegan = (gesamtpreis_vegan/24).round(2)

In [105]:
anteil_des_lagerbeitrags_fleisch = ((preis_pro_person_fleisch * 100)/25.5).round(2)
anteil_des_lagerbeitrags_vegan = ((preis_pro_person_vegan * 100)/25.5).round(2)

In [106]:
übersicht_für_tn_dict = {
    "mit Fleisch" : {
        "Gesamtpreis in €" : gesamtpreis_fleisch,
        "Preis pro Person in €" : preis_pro_person_fleisch,
        "Anteil des Lagerbeitrags in %" : anteil_des_lagerbeitrags_fleisch
    },
    "vegan" : {
        "Gesamtpreis in €" : gesamtpreis_vegan,
        "Preis pro Person in €" : preis_pro_person_vegan,
        "Anteil des Lagerbeitrags in %" : anteil_des_lagerbeitrags_vegan
    },
}

df_übersicht_für_tn = pd.DataFrame.from_dict(übersicht_für_tn_dict)
df_übersicht_für_tn

                               mit Fleisch  vegan
Gesamtpreis in €                     43.58  19.19
Preis pro Person in €                 1.82   0.80
Anteil des Lagerbeitrags in %         7.14   3.14